{% extends "blog/base.html" %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi voluptatum odit magni pariatur dolor quaerat delectus, rerum quod quo? Quia, maxime minus? Soluta vitae nesciunt veniam possimus rerum dolorem eius?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex laboriosam perspiciatis provident possimus deserunt explicabo velit necessitatibus vero amet nam earum magni obcaecati nesciunt similique, iure harum eos voluptate voluptatibus soluta quibusdam? Deleniti sed est fugit iusto quos. Molestiae vero deleniti quibusdam, aliquid corrupti provident facere reiciendis id perferendis ad?</p>
</div>
{% endblock content %} 